<configuration>
  <connectionStrings>
    <add name="Employer" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=EmployerDatabase;Data Source=218B-2-16"/>
    <add name="Northwind" connectionString="Integrated Security=SSPI;Persist Security Info=False;Initial Catalog=Northwind;Data Source=BenjaminPC\\SQLEXPRESS"/>
  </connectionStrings>
</configuration>